
*{
  margin: 0;
  padding: 0;
  
}
.footer-section{
  background-color: black;
  padding: 5rem;

}
/* .heading-section {
  letter-spacing: 1.3px;
  line-height: 2.4rem;
  font-size: 2rem;
} */
.sub-heading {
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1.3rem;
  color:  #C3B48D;
}
.count-heading {
  color:  #FF9B47;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
}
.count-span {
  font-size: 2rem;
  color:  #FF9B47;
  font-weight: 600;
}

.mail {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 3rem;
  border: 0;
}
.mail input {
  text-align: center;
  background-color: rgb(59, 59, 59);
  color: #C3B48D;

}

.mail-btn {
  color: white;
  background-color:  #FF9B47;
  padding: 2px 10px;

}

.copyright {
  display: block;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
.copyright .design {
  color:#C3B48D;
}
.tweet {
  color: #FF9B47;
  font-size: 2rem;
}

.navbar {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

/* .nav-links a:hover {
  color: #ff5733;  */
/* } */
.footer_section {
  background-color: black;
    padding:5rem;
    color:aqua;
  }
  .nav-links a {
  display: inline-block;
  position: relative;
  color: #C3B48D;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C3B48D;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
<<<<<<< HEAD
=======
/* .img-ban {
  position: relative;
} */

.banner__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  color: #fff;
  max-width: 600px;
}

.banner__content .banner__heading {
  font-size: 3rem;
}
>>>>>>> 6a91dd589bf51ea35b7ee1256c26cfc0d08adf67
